# Creating Lists

In [1]:
# Notation for creating a list
empty_list = []
sample_list = [1, 3, 6, 9, 5, 7]

In [2]:
# Creating a mixed list 
mixed_list = [1, 2, 6, 9, 8, "one", 'four', "pi", 3.14]

In [3]:
# Examples creating and a list
ft_bones = ['calcaneus', 'talus', 'cuboid', 'navicular', 'etc']
print('ft_bones: ', type(ft_bones))
# note. the output of the type() function is a class list

ft_bones:  <class 'list'>

In [4]:
# printing a list
print(ft_bones)

['calcaneus', 'talus', 'cuboid', 'navicular', 'etc']

In [5]:
# More examples using lists
age_survey = [31, 25, 46, 28, 32, 55, 61, 45, 39, 22, 36, 37, 48]
print(age_survey)

[31, 25, 46, 28, 32, 55, 61, 45, 39, 22, 36, 37, 48]

In [6]:
mixed_list = (1, 34, 0.99, 'dog', "cat", age_survey)
print(type(mixed_list))
print(mixed_list)

<class 'tuple'>
(1, 34, 0.99, 'dog', 'cat', [31, 25, 46, 28, 32, 55, 61, 45, 39, 22, 36, 37, 48])

In [7]:
# Example using list
team = ['Pratik', 'Mansi', "Bharat", "Dipika"]
print(team)

['Pratik', 'Mansi', 'Bharat', 'Dipika']

In [8]:
mix_lst = [3.14, 'pi', 'pie', 13.45]
print(mix_lst)

[3.14, 'pi', 'pie', 13.45]

# Types of List in Python

This is an example of a list

In [39]:
# This is how a list is made
family = ['Pratik', 'Mansi', 'Dipika', 'Bharat']

In [40]:
# Lists can take on various data types
mixed = ['red', 7.2, 8]

In [41]:
# Can also have a nested list
nested = [1, [5,7], 18]

In [42]:
# This is an empty list
empty_set = []

In [43]:
# You can obtain items from a list using a for loop of the list
family = ['Pratik', 'Mansi', 'Dipika', 'Bharat']
for fam in family:
    print('Happy New Year:', fam)
print('done')

Happy New Year: Pratik
Happy New Year: Mansi
Happy New Year: Dipika
Happy New Year: Bharat
done

In [44]:
# You can also use the index operator to point to items in a list
family = ['Pratik', 'Mansi', 'Dipika', 'Bharat']
print('The second person in the list is:', family[1])
print('The first person in the list is:', family[0])
print('The parents in the list are:', family[2:])

The second person in the list is: Mansi
The first person in the list is: Pratik
The parents in the list are: ['Dipika', 'Bharat']

Lists are a mutable data structure (Can be changed)

In [46]:
# Notice that you can change the values in a list
data = [1, 30, 15, 16, 75, 18]
print(data)
data[0] = 11
print(data)

[1, 30, 15, 16, 75, 18]
[11, 30, 15, 16, 75, 18]

In [47]:
# example
random = ['a', 2, 3.14, "the next"]
len(random)

4

Creating a list with a function

In [49]:
# We can use the range() function to create a list
x = range(4)
random = ['a', 2, 3.14, "the next"]
print(range(len(random)))

range(0, 4)

# Manipulating List Objects

Concatenating a list

In [50]:
# Simple way to concatenate lists together just like strings
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

Slicing a list just like a string

In [52]:
# You can slice a list just like a string (agian it is up to but not including)
dat = [9, 41, 12, 3, 74, 12]
dat[1:3]
# dat[:3]
#etc

[41, 12]

We can also build a list from scratch

In [53]:
# Following code builds a list
stuff = list()
stuff.append('games')
stuff.append('books')
print(stuff)

['games', 'books']

Using Boolean to see if something is in a list

In [54]:
# You can use the in (or not-in) operator to test if an item is in a list
family = ['Pratik', 'Mansi', 'Dipika', 'Bharat']
'Joe' in family

False

Try sorting a list

In [55]:
# Use the .sort() method to sort a list 
family = ['Pratik', 'Mansi', 'Dipika', 'Bharat']
print(family)
family.sort()
print(family)

['Pratik', 'Mansi', 'Dipika', 'Bharat']
['Bharat', 'Dipika', 'Mansi', 'Pratik']

Some common built in functions for lists

In [57]:
data = [9, 41, 12, 3, 74, 12]
print(len(data))
print(max(data))
print(min(data))
print(sum(data))
print(int(sum(data)/len(data))) # This is the average

6
74
3
151
25

In [59]:
# Here is a cool piece of code that computes the average
total = 0
count = 0
while True :
    inp = input("Enter a number:", )
    if inp == 'done':
        break
    value = float(inp)
    total = total + value
    count = count + 1
average = total/count
print('The average is:',average)

Enter a number:2
Enter a number:3
Enter a number:3
Enter a number:3
Enter a number:done
The average is: 2.75

In [61]:
# Here is the same process using a list object
numbers = list()
while True:
    inp = input("Enter a number:").lower()
    if inp == 'done':
        break
    value = float(inp)
    numbers.append(value)
average = sum(numbers) / len(numbers)
print('The average is:',average)

Enter a number:5
Enter a number:1
Enter a number:3
Enter a number:4
Enter a number:DONE
The average is: 3.25

Splitting a string

In [62]:
# Use the split method to split a string 
fam = "Pratik Mansi Dipika Bharat"
fam_list = fam.split()
print(fam_list)

['Pratik', 'Mansi', 'Dipika', 'Bharat']

In [63]:
# Split based on a delimiter
data_row ="3,2,2.5,5.6,8.1,9,10,1,1.2,13"
data_list = data_row.split(',')
print(data_list)

num_list = []
for i in data_list:
    i = float(i)
    num_list.append(i)

print(num_list)

['3', '2', '2.5', '5.6', '8.1', '9', '10', '1', '1.2', '13']
[3.0, 2.0, 2.5, 5.6, 8.1, 9.0, 10.0, 1.0, 1.2, 13.0]

# Accessing Items in a List

In [9]:
# Accessing items in a list using index notations
ft_bones = ['S1', 'F3', 'Y6', "Z9"]
print( "\"" + ft_bones[0] + "\"" ,  "is the 1st item in the list")
print( "\"" + ft_bones[1] + "\"", "is the 2nd item in the list")
print('Last item in list is ' + '\"' + ft_bones[-1] + '\"')

"S1" is the 1st item in the list
"F3" is the 2nd item in the list
Last item in list is "Z9"

In [10]:
# Example using index notation to access a list
print(ft_bones[2] + " is linked to " + ft_bones[1])

Y6 is linked to F3

In [ ]:
# example accessing a list using indexes (they added 12 + 11 + 13)
age_lst = [12,10,11,9,13,16,12,15,14]
sum_3_age = age_lst[0] + age_lst[2] + age_lst[4]
print(sum_3_age)

In [11]:
# More examples
tree_list = ['Oak', 'Redwood', 'Spruce', 'Palm', 'Pine']
print("There are not any", tree_list[0].lower(), "or", tree_list[4].lower(), "trees in Brandon.")

numbers = [51, 23, 6, 88, 1000]
add_2 = sum(numbers)
print(add_2)

There are not any oak or pine trees in Brandon.
1168

# Appending an Item to a List

In [14]:
# Appending an item to a list using the .append(data) method
list_1 = [1, 2, 3]
# Using .append() method to add to a list
list_1.append(4)
print(list_1)
sum(list_1)

[1, 2, 3, 4]

10

In [15]:
# example append
new_lst = [1, 6, 7, 9]
print("old list " , new_lst)

new_lst.append(5)
print(new_lst)

old list  [1, 6, 7, 9]
[1, 6, 7, 9, 5]

In [16]:
# Example append
mixed = [1, 'dog']
mixed.append(3)
print('new list is', mixed)

new list is [1, 'dog', 3]

# List Sorting Methods

In [17]:
# Using the .sort() method Example
quiz_scores = [20, 19, 20, 15, 20, 20, 20, 18, 18, 18, 19]
print("old arriagnment of quiz scores", quiz_scores)
quiz_scores.sort()
print('sorted quiz scores',quiz_scores)

old arriagnment of quiz scores [20, 19, 20, 15, 20, 20, 20, 18, 18, 18, 19]
sorted quiz scores [15, 18, 18, 18, 19, 19, 20, 20, 20, 20, 20]

In [18]:
# Using the .sorted() method Example
game_points = [3, 14, 0, 8, 21, 1, 3, 8]
sorted_points = sorted(game_points)
print('new sorted points', sorted_points)

new sorted points [0, 1, 3, 3, 8, 8, 14, 21]

In [19]:
# Using a list of strings
cities_1 = ["Dubai", "Mexico City", "São Paulo", "Hyderabad"]
print("Unsorted", cities_1)
cities_1.sort()
print("Sorted", cities_1)

Unsorted ['Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
Sorted ['Dubai', 'Hyderabad', 'Mexico City', 'São Paulo']

# Sorting a List of Words

In [27]:
# Enter romeo.txt to run the program
fname = input("Enter file name: ")
fh = open(fname)
lst = list()
mega_list = []
for line in fh:
    line = line.rstrip()
    mega_string = mega_list.append(line)
    print(line)

#print(mega_list)

Enter file name: romeo.txt
But soft what light through yonder window breaks
It is the east and Juliet is the sun
Arise fair sun and kill the envious moon
Who is already sick and pale with grief

In [29]:
# empty list
full_list = list()
print(full_list)

[]

In [31]:
# get a list of all the words and sort
for i in mega_list:
    i = i.split()
    for value in i:
        if value in lst:
            continue
        else:
            lst.append(value)
    lst.sort()
            

print(lst)

['Arise', 'But', 'It', 'Juliet', 'Who', 'already', 'and', 'breaks', 'east', 'envious', 'fair', 'grief', 'is', 'kill', 'light', 'moon', 'pale', 'sick', 'soft', 'sun', 'the', 'through', 'what', 'window', 'with', 'yonder']

# Counting method & search Function

In [20]:
# Use the .count() method to find a character or substring occurance in a string
cities = ['New York', 'Shanghai', 'Munich', 'Tokyo', 'Dubai', 'Sao Paulo', 'Hyderabad']
search_letter = 'a'
total = 0

for city_name in cities:
    total += city_name.lower().count(search_letter)
    # This part of the code is added to list out the item by item total
    print(total)
print("total # of \"" + search_letter + "\" found in the list", total)

0
2
2
2
3
5
7
total # of "a" found in the list 7

In [21]:
# Creating and using a Search function
def city_search (search_item, cities = ['New York', 'Shanghai', 'Munich', 'Tokyo', 'Dubai', 'Sao Paulo', 'Hyderabad']):
    for city in cities:
        if city.lower() == search_item.lower():
            return True
        else:
            pass
    return False

city_search(input("City is in database?: "))

City is in database?: Chicago

False

# Using .split('str')

In [22]:
# Using the .split() method to split str using things other than blank spaces
# Example
code_tip = "Python-uses-spaces-for-indentation"
tip_words = code_tip.split('-')

print(tip_words)

['Python', 'uses', 'spaces', 'for', 'indentation']

In [23]:
# spliting a str with a alpha character
code_tip = "Python uses spaces for indentation"
# using .split() with an "a"
tip_words = code_tip.split('a')
print(code_tip)
print(tip_words)

Python uses spaces for indentation
['Python uses sp', 'ces for indent', 'tion']

In [24]:
# Another example: splitting between spaces
big_quote = """Jack and Jill went up the hill
To fetch a pail of water
Jack fell down and broke his crown
And Jill came tumbling after"""
print(big_quote)

quote_lines = big_quote.split("\n")
print('\n', quote_lines,)

Jack and Jill went up the hill
To fetch a pail of water
Jack fell down and broke his crown
And Jill came tumbling after

 ['Jack and Jill went up the hill', 'To fetch a pail of water', 'Jack fell down and broke his crown', 'And Jill came tumbling after']

In [25]:
# getting a line from the list above
# the [::-1] reverses the order of a str and a list
for line in quote_lines[::-1]:
    print(line)

And Jill came tumbling after
Jack fell down and broke his crown
To fetch a pail of water
Jack and Jill went up the hill

# The .extend() Method

In [32]:
# Using the .extend() method to add a list to another list
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
wish_cities = ["Reykjavík", "Moscow", "Beijing", "Lamu"]
visited_cities.extend(wish_cities)
print(visited_cities)

['New York', 'Shanghai', 'Munich', 'Toyko', 'Dubai', 'Mexico City', 'São Paulo', 'Hyderabad', 'Reykjavík', 'Moscow', 'Beijing', 'Lamu']

In [33]:
# adding list using the addition operator
all_cities = visited_cities + wish_cities
print("ALL CITIES", all_cities)

ALL CITIES ['New York', 'Shanghai', 'Munich', 'Toyko', 'Dubai', 'Mexico City', 'São Paulo', 'Hyderabad', 'Reykjavík', 'Moscow', 'Beijing', 'Lamu', 'Reykjavík', 'Moscow', 'Beijing', 'Lamu']

In [34]:
# print all the cities
for cities in all_cities:
    print(cities)

New York
Shanghai
Munich
Toyko
Dubai
Mexico City
São Paulo
Hyderabad
Reykjavík
Moscow
Beijing
Lamu
Reykjavík
Moscow
Beijing
Lamu

In [38]:
# another example
team_a = [0,2,2,2,4,4,4,5,6,6,6]
team_b = [0,0,0,1,1,2,3,3,3,6,8]
print("Team A", team_a, "\nTeam B", team_b)
# trying the addition operator
team_sum = team_a + team_b
print("Team Total=", team_sum)

print('\n')

team_a.extend(team_b)
print(team_a)
# if you keep running this cell it keeps adding a new team_b to the list

Team A [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6]
Team B [0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]
Team Total= [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]


[0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]

# Replacing index from a List

In [64]:
# How to overwrite a index in a list 
party_list = ['Mansi', 'Pratik', 'Shrey', 'Havisha']
print("party_list before: ", party_list)

party_list before:  ['Mansi', 'Pratik', 'Shrey', 'Havisha']

In [65]:
# Overwriting index [1] from a list
party_list[1] = 'Prateek'
print("party_list after: ", party_list)

party_list after:  ['Mansi', 'Prateek', 'Shrey', 'Havisha']

In [66]:
print(party_list)
party_list[0] = party_list[0], "patel"
print("\n", party_list)

['Mansi', 'Prateek', 'Shrey', 'Havisha']

 [('Mansi', 'patel'), 'Prateek', 'Shrey', 'Havisha']

In [67]:
# You cannot append a item to a list using indexs
# Example using index switching and functions
I = [1, 2, 3, 4, 5, 6]
def str_replace( I , index):
    I[index] = "No."
    return I
    
str_replace( I, 2)

[1, 2, 'No.', 4, 5, 6]

# The range() function

In [68]:
# creating a range using therange function
for count in range(10):
    print(count)

0
1
2
3
4
5
6
7
8
9

In [70]:
# Using the range() and list() functions
digits = range(10)
print("digits =", list(digits), "\n")

print(count)

digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

9

In [71]:
# Example
sub_total = 0
for items in range(10):
    sub_total += items
    print("sub_total:", sub_total)

sub_total: 0
sub_total: 1
sub_total: 3
sub_total: 6
sub_total: 10
sub_total: 15
sub_total: 21
sub_total: 28
sub_total: 36
sub_total: 45

In [73]:
# Another Example
spell_list = ["Tue", "Wed", "Feb", "Nov", "Ann", "Cal", "Sol"]
half_1 = int(len(spell_list)/2)
for word in range(half_1):
    print(spell_list[word])

Tue
Wed
Feb

### Using range functions to create start and stop range 
### range(Start value, Stop value)

In [78]:
# range start and stop
for count in range(5,10):
    print(count)

5
6
7
8
9

In [79]:
# Example
sub_total = 0
temp = 0
for item in range(5,10):
    temp = sub_total
    sub_total += item
    print("sub_total:", temp, "+", item, "=", sub_total)
print("total =", sub_total)

sub_total: 0 + 5 = 5
sub_total: 5 + 6 = 11
sub_total: 11 + 7 = 18
sub_total: 18 + 8 = 26
sub_total: 26 + 9 = 35
total = 35

In [80]:
# Prints second half of spell_list
spell_list = ["Tue", "Wed", "Feb", "Nov", "Ann", "Cal", "Sol"]
spell_len = len(spell_list)
half_1 = int(spell_len/2)

for word in range(half_1,spell_len):
    print(spell_list[word])

Nov
Ann
Cal
Sol

In [81]:
# Using the range(Start, Stop, Step) function
# Start = starting integer value
# Stop = the stopping integer value (does not process the stopped argument)
# Step = skip value for each loop

# Example
for count in range(25,101,25):
    print(count)
# Code 'steps' over intervals of 25

25
50
75
100

In [82]:
# Extended Example
sub_total = 0
temp = 0
for item in range(25,46,5):
    temp = sub_total
    sub_total += item
    print("sub_total", temp, "+", item, "=", sub_total)

sub_total 0 + 25 = 25
sub_total 25 + 30 = 55
sub_total 55 + 35 = 90
sub_total 90 + 40 = 130
sub_total 130 + 45 = 175

In [84]:
# Another Example
spell_list = ["Tue", "Wed", "Feb", "Nov", "Ann", "Cal", "Sol"]

for index in range(0, len(spell_list),2):
    print(spell_list[index])

Tue
Feb
Ann
Sol

In [85]:
# Example, creates a list of odd numbers from 1 - 20
odd_list = list(range(1,20,2))
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# The .reverse() method

In [86]:
# The .reverse() method reverses the order of any list
# Example
cities_1 = ["Dubai", "Mexico City", "São Paulo", "Hyderabad"]

print("regular", cities_1)
cities_1.reverse()
print("reversed", cities_1)

regular ['Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
reversed ['Hyderabad', 'São Paulo', 'Mexico City', 'Dubai']

In [87]:
# Agian for a list of numbers
all_num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print("regular list",all_num, "\n")
all_num.reverse()
print("reverse list",all_num, "\n")
num_len = len(all_num)
# Just reverses the order of a list

regular list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

reverse list [100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [88]:
# example using for loop using the all_num list
for num in all_num:
    if num/3 == int(num/3):
        print(num)
    else:
        pass

90
60
30
9
6
3
0

In [89]:
# example
count_list = list(range(21))
print("before list", count_list, "\n")
count_list.reverse()
print("after list", count_list)

before list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

after list [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Using .insert() to insert an index into a List

In [1]:
# Using the .insert() method to insert an item to a List
party = ["Pratik", "Mansi", "Dipika", "Bharat"]
print("current party: ", party)

party.insert(2, "Shrey")
print( "\n" "new party: ", party)

current party:  ['Pratik', 'Mansi', 'Dipika', 'Bharat']

new party:  ['Pratik', 'Mansi', 'Shrey', 'Dipika', 'Bharat']

In [2]:
# Example using the .insert() method to insert an index into a list
group = ['A', "B", "D", 'E']
print(group)
group.insert(2, "C")
print("\n", group)

['A', 'B', 'D', 'E']

 ['A', 'B', 'C', 'D', 'E']

# Using the .join() method

In [3]:
# Using the .join() methods to join items in a list

# Example
tip_words = ['practice', 'every', 'day']
print(" ".join(tip_words))

practice every day

In [4]:
# Another example
no_space = ""
letters = ['p', 'r', 'a', 't', 'i', 'k']
no_space.join(letters)
# This just echos the str

'pratik'

In [5]:
# Joining items in alist with other characters
dash = "-"
equal = "="
ellipse = "..."
print(dash.join(letters))
print(equal.join(letters))
print(ellipse.join(letters))

p-r-a-t-i-k
p=r=a=t=i=k
p...r...a...t...i...k

# More Features with Casting Using list

In [6]:
# Casting a string into a list
hello_letters = list("Hello")
print(hello_letters)

['H', 'e', 'l', 'l', 'o']

In [7]:
# Another example
word_letters = list('concatenation')
print('~'.join(word_letters))

c~o~n~c~a~t~e~n~a~t~i~o~n

In [8]:
# the end= configuration to end a line and start a new line
print("Hello ", end = '*')
print("world")

Hello *world

# Using the .pop() method

In [9]:
# Using the .pop() method returns and deletes items in a list
# if the argument for .pop() is empty it deletes and returns the last item in a list 
party = ['joana', 'alton', 'tobias']
print(party)
print("Hello,", party.pop())

['joana', 'alton', 'tobias']
Hello, tobias

In [10]:
print(party)
print("Hello,", party.pop())

['joana', 'alton']
Hello, alton

In [11]:
number_lst = [11,21,13,14,15]
print("before", number_lst)
# The .pop() method with argument '3' removes index [3] from the list
number_lst.pop(3)
print('after', number_lst)

before [11, 21, 13, 14, 15]
after [11, 21, 13, 15]

In [12]:
# Using the returned values from .pop() in calculations
number_lst = [11, 21, 13, 15]
no1 = number_lst.pop(1)
no2 = number_lst.pop(2)
print(no1 + no2)

36

In [13]:
# pop-out first and last number from a list
no_lst = [1, 3, 6, 7]
print(no_lst.pop(0))
print(no_lst.pop(-1))

1
7

# Using the .remove(object) method

In [14]:
# Example showing how to use the .remove(object) method
# example using a if statment
dogs = ['pug', 'poodle', 'lab']
if 'pug' in dogs:
    dogs.remove('pug')
    print('new list:', dogs)
else:
    print('item not in list')

new list: ['poodle', 'lab']

In [15]:
# example using a while loop
while 'poodle' in dogs:
    dogs.remove('poodle')
    print(dogs)
# note. all thats left is lab which wasn't removed

['lab']

# Using the .split() Method on a Str

In [16]:
# The .split() method turns items in a string into a list
# Example
tip = "Notebooks can be exported as .pdf"
tip_words = tip.split()
print("STRING:", tip, "\n")
print( tip_words,)

STRING: Notebooks can be exported as .pdf

['Notebooks', 'can', 'be', 'exported', 'as', '.pdf']

In [17]:
# Another example also using a for loop to list the items
rhyme = "London bridge is falling down"

rhyme_words = rhyme.split()

for word in rhyme_words:
    print(word)

London
bridge
is
falling
down

# Using the del statement to Delete an Index

In [18]:
# Using the delete command to eliminate an index from a list
# Do this by using the 'del' statement
sample_list = [11, 21, 13, 15, 117]
print('original list:', sample_list)
del sample_list[0]
print('new list:', sample_list)

original list: [11, 21, 13, 15, 117]
new list: [21, 13, 15, 117]

In [19]:
# Example using .append() and del statement
mixed_list = [22, 'dog']
mixed_list.append(3)
print(mixed_list)
del mixed_list[1]
print(mixed_list)

[22, 'dog', 3]
[22, 3]

In [20]:
# Example
bones = ['t13', 'y8', 'z9']
# delete 'y8'
del bones[1]
print(bones)

['t13', 'z9']

# Sort & Filter items in a Str or list

In [21]:
# Using comparsion operator swhole iterating a str or list to sort & filter

foot_bones = ['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']
long_bones = ""
short_bones = ""

for bone in foot_bones:
    if len(bone) < 10:
        short_bones += "\n" + bone + '\n'
    else: 
        long_bones += "\n" + bone + '\n'
print("List of long bones".upper(), "\n", long_bones)
print("List of short bones".upper(), '\n', short_bones)

LIST OF LONG BONES

lateral cuneiform

intermediate cuneiform

medial cuneiform

LIST OF SHORT BONES

calcaneus

talus

cuboid

navicular

In [24]:
# Another Example
foot_bones = ['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']
long_bones = []
short_bones = []

for bone in foot_bones:
    if len(bone) < 10:
        short_bones.append(bone)
    else:
        long_bones.append(bone)

print(long_bones)
print('\n')
print(short_bones)

['lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']


['calcaneus', 'talus', 'cuboid', 'navicular']

# While empty list are False

In [25]:
# Using the while loop in conjunction with .pop() method
dogs = ['lab', 'poodle', 'pug']
while dogs:
    print(dogs.pop())
# This while loop ends when all items in the list empty out (becomes False)

pug
poodle
lab

# Getting a list of emails from data. Example

In [26]:
#fname = input("Enter file name: ")
fname = "mbox-short.txt"
fh = open(fname)
emails = []
for line in fh:
    line = line.rstrip()
    if "From " in line:
        line = line.split()
        #print(line)
        print(line[1])
        emails.append(line[1])
    else:
        continue
print("There were", len(emails), "lines in the file with From as the first word")

stephen.marquard@uct.ac.za
louis@media.berkeley.edu
zqian@umich.edu
rjlowe@iupui.edu
zqian@umich.edu
rjlowe@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
gsilver@umich.edu
gsilver@umich.edu
zqian@umich.edu
gsilver@umich.edu
wagnermr@iupui.edu
zqian@umich.edu
antranig@caret.cam.ac.uk
gopal.ramasammycook@gmail.com
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
louis@media.berkeley.edu
ray@media.berkeley.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
There were 27 lines in the file with From as the first word