# Hello World!

### This is everybodies first python code

In [10]:
print("Hello World!")
print("Hello Data Scientist!")

Hello World!
Hello Data Scientist!

# Comments

### You Write Comments in Python by using the hash "#". Everything on that line after the hash (#) is considered a comment and is not procesed by Python.

In [2]:
# This is the Famous Hello World program
print("Hello World!")

# Fun with Hello World style program
print("I am your Father!")

Hello World!
I am your Father!

# Integers & Strings

In [1]:
# Strings in Python with single quotes
print('This is a single quote string.')

# double quote string
print("This is a double quote string.")

This is a single quote string.
This is a double quote string.

In [12]:
# printing integers
print(5)
print(-98)
print(10002)

5
-98
10002

In [13]:
# printing & echoing integers & string
print('88')
print(88)
"88"
88

88
88

88

In [14]:
"88"

'88'

In [15]:
88

88

# Variables

In [17]:
# Variables
student_name = 'Pratik Patel'
print(student_name)

Pratik Patel

In [18]:
# Another Example of Variables
current_msg = 'This variable is a str'
print(current_msg)
current_msg = 'This variable is now a new msg'
print(current_msg)

This variable is a str
This variable is now a new msg

Python variables can change between the data types

In [2]:
# created variable -> name
name = 'Pratik Patel'
print(name)

Pratik Patel

In [3]:
test_value = 22
print(test_value)
test_value = 'Pratik'
print(test_value)

22
Pratik

In [20]:
student_name = "Mansi Patel"
print(student_name)

student_name = "Pratik Patel"
print(student_name)

student_name = "Blue"
print(student_name)

Mansi Patel
Pratik Patel
Blue

In [21]:
bucket = 5
print(bucket)

bucket = 6
print(bucket)

5
6

In [22]:
# Printing two different data types
print(123)
print("123")

123
123

# Addition Operator

### You can do numeric addtion or you can concatinate(Combine) strings

In [28]:
# Examples of using the addition operator
3 + 9

10

In [29]:
3 + 6 + 1

10

In [26]:
# or concatinate two strings
print("Hi " + "Pratik")
print("Hi" + "Mansi")

Hi Pratik
HiMansi

In [27]:
# Another example
shoe_color = "Black"
"My shoes are " + shoe_color

'My shoes are Black'

In [31]:
# Example
High_num = 10000
Small_num = 2
High_num + Small_num

10002

# User Input Function

In [42]:
# Example Using the input function input()
print("Type in a small number")
small_num = input()

Type in a small number
2

In [38]:
# Additional comments with a user input
student_name = input("Enter the student name: ")
print("Hello " + student_name)

Enter the student name: Pratik
Hello Pratik

In [39]:
city = input("What city are you from: ")
print("the city name is " + city)

What city are you from: Brandon
the city name is Brandon

In [40]:
# Multi-input prompts in the code
name = input("What is your name? ")
age = input("How old are you? ")
get_email = input(" Do you want to receive an email? ")

print("Hello " + name + ".")
print("You are " + age + " years old.")
print("You answered " + get_email + " to getting an email." )

What is your name? Pratik
How old are you? 25
 Do you want to receive an email? ppratikbp@gmail.com
Hello Pratik.
You are 25 years old.
You answered ppratikbp@gmail.com to getting an email.

# Concatenation

In [32]:
# Concatenation using commas vs. + sign
name = "Pratik"
print("Hi " + name)
print("Hi", name)

Hi Pratik
Hi Pratik

In [33]:
print("What", "can I", "do", "for", "you?")

What can I do for you?

In [37]:
# Numbers and strings can be concatenated using commas
print("The number is", 520, "try to guess the next number?")

Number_1 = 20
Number_2 = 50
print("The number", Number_1, "plus the number", Number_2, "is equal to", Number_1 + Number_2)

number = 6
print("The magic number is", number)

The number is 520 try to guess the next number?
The number 20 plus the number 50 is equal to 70
The magic number is 6

In [36]:
# Example code 
print("What is your street name")
street = input()
print("what is your street No.")
street_num = input()
print("Your address is", street_num, street)

What is your street name
Yes
what is your street No.
no
Your address is no Yes

In [ ]:
# How many people are going to show up to an event.
Reserver = input("What is your name? ")
Num_party = input("How many people are you reserving for? ")
time = input("How long do you intend to stay? ")
arrival_time = 15
print("Remember!", Reserver, "you reserved a party of", Num_party,"people for " + time + ".")
print("Please arrive", arrival_time, "early.")

# The type() Function#

### The type() function returns the data type. This can be a string (str) integer (int) or a float (which is a decimal)

In [61]:
# Examples
# string type
type("Hello World!")

str

In [62]:
# integer type
type(501)

int

In [68]:
# type float (decimal)
type (8.333333)

float

In [69]:
# type of a variable
student_name = "Pratik"
type(student_name)

str

In [66]:
# Can also print the type() function
print(type(student_name))

<class 'str'>

In [70]:
# The type() of a type()
type(type(3))

type

# Boolean String Tests

### Common Boolean (True or False) Str methods

In [43]:
# Tests if the string is all alphabets
First = "Hello".isalpha()
print(First)
Second = "7".isalpha()
print(Second)

True
False

In [48]:
# Tests if the str literals are all numbers
"125".isalnum()

True

In [47]:
# Spaces are not a number
"12 " .isalnum()

False

In [49]:
# Tests to see if the first letter of every word in the str is capitalized
print("Star Wars".istitle())
print("The end".istitle())

True
False

In [51]:
# Tests if the str is a digit Number
print("523" .isdigit())
print("Pi" .isdigit())

True
False

In [52]:
# Tests to see if the letters in the str are lowercase
"lowercase letters here" .islower()

True

In [53]:
# Tests to see if the letters in the str are capitalized
"THE WORDS HERE ARE CAPS" .isupper()

True

In [54]:
# Tests the input to see if the first character appears in the str
"p is for pie, pumpkins, and peanuts".startswith("6")

False

In [57]:
# check to see if all letters are characters
"alphabetical" .isalpha()

True

In [56]:
# Spaces are not alphabets either
"Are spaces alphabeticals" .isalpha()

False

In [71]:
# Example 
alpha_test = "23corn"
print("The word", alpha_test, "is made up of all alphabets", "=", alpha_test .isalpha())

The word 23corn is made up of all alphabets = False